In [1]:
print("Hello World")

Hello World

In [3]:
A = "Hello"
a = """Hii
This
is
Vamshi Krishna"""
print(a)

print(A)

Hii
This
is
Vamshi Krishna
Hello

In [19]:
res = eval(input())
res

2+4*9

38

In [22]:
import math as m
print(dir(m))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [23]:
i = input()
help(i)

input
Help on method raw_input in module ipykernel.kernelbase:

input = raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [26]:
import math as m
m.degrees(2)

114.59155902616465

In [28]:
import math
math.radians(60)

1.0471975511965976

In [29]:
math.sin(2)

0.9092974268256817

In [30]:
m.cos(0.5)

0.8775825618903728

In [31]:
m.tan(0.23)

0.23414336235146527

In [32]:
m.factorial(5)

120

In [5]:
from functools import reduce
li = [1, 2, 3, 4, 5]

mul = lambda a, b : a*b
a = reduce(mul, li)
print(mul(2, 3))
a

6

120

In [8]:
from functools import reduce
li = [1, 2, 3, 4, 5]

mul = lambda a, b : a+b
a = reduce(mul, li)
a

15

In [34]:
sum = 0
for i in li:
    sum += i
print(sum)

15

In [12]:
import random
print(random.randint(1, 10))

3

In [36]:
random.random()

0.34183943257767946

In [15]:
li = [1, 2, 'Hello', 5.4, 3, 'Hii']
print(random.choice(li))

5.4

In [38]:
import datetime
print(datetime.date.today())

2022-12-03

In [39]:
print(datetime.datetime.now())

2022-12-03 07:16:41.667519

In [40]:
bool("")

False

In [41]:
str(True)

'True'

In [42]:
int(True)

1

In [43]:
int(False)

0

In [44]:
5 + True

6

In [45]:
a = "vamshi"
print(id(a))
print(type(a))
print(a)

2155586295728
<class 'str'>
vamshi

# ASCII Values UNICode

In [46]:
b = b'abc'
print(b[0])

97

In [47]:
print(ord('A'))

65

In [48]:
s = 'D:78'
b = bytes(s, encoding='utf-8')
# c = bytes(b, encoding='utf-8')
print(b, "\n")

b'D:78'

In [49]:
b = bytes(s, encoding='iso-8859-8')
b

b'D:78'

# Byte Array

In [17]:
s = "abcde"
x = bytearray(s, 'utf-8')
x

bytearray(b'abcde')

In [51]:
z = bytearray(b'abcdef')
z[0]

97

In [52]:
x[0]

97

In [53]:
x[3]

100

In [54]:
y = bytearray("abcdef", 'utf-8')
y[4]

101

In [55]:
y[1:3]

bytearray(b'bc')

In [56]:
y.startswith(b'a')

True

In [42]:
li = ["vamshi", "Krishna", 1, 2, 3, 4.5]

for i in range(len(li)):
    if i < len(li)-1:
        print(li[i], end = "-")
    else:
        print(li[i])

vamshi-Krishna-1-2-3-4.5

# Lists

In [19]:
li = [1, 2, 3, 4, 5, 0]

# Index, element
li.insert(2, 5)
print(li)

# remove(element)
li.remove(0) #returns error if the element is not present
print(li)

# pop(index)
li.pop(1)
print(li)

li.pop()
print(li)

del li[1:2]
print(li)

[1, 2, 5, 3, 4, 5, 0]
[1, 2, 5, 3, 4, 5]
[1, 5, 3, 4, 5]
[1, 5, 3, 4]
[1, 3, 4]

In [21]:
# index(element)
li.index(3)

1

In [44]:
s = "vamshi 123456"
print(s.find("6"))
s.index("m") # Return error if value not found

12

2

# Tuples

In [26]:
string = "Vamshi"
s1 = list((string, )*3)
s2 = tuple((string, )*3)
print(s1, s2)

['Vamshi', 'Vamshi', 'Vamshi'] ('Vamshi', 'Vamshi', 'Vamshi')

In [61]:
s2 = tuple((string)*3)
s2

('V',
 'a',
 'm',
 's',
 'h',
 'i',
 'V',
 'a',
 'm',
 's',
 'h',
 'i',
 'V',
 'a',
 'm',
 's',
 'h',
 'i')

In [62]:
nest = (s1, s2)
nest

(('Vamshi', 'Vamshi', 'Vamshi'),
 ('V',
  'a',
  'm',
  's',
  'h',
  'i',
  'V',
  'a',
  'm',
  's',
  'h',
  'i',
  'V',
  'a',
  'm',
  's',
  'h',
  'i'))

In [63]:
a = list(range(6))
a

[0, 1, 2, 3, 4, 5]

In [64]:
b = tuple(range(6))
b

(0, 1, 2, 3, 4, 5)

In [65]:
c = list(range(1, 6))
c

[1, 2, 3, 4, 5]

In [66]:
d = list(range(1, 10, 2))
d

[1, 3, 5, 7, 9]

In [67]:
e = list(range(-2, -11, -2))
e

[-2, -4, -6, -8, -10]

# Sets

In [68]:
a = {1, 2, 3, 4, 5}
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [69]:
b = set([1, 2, 3, 4])
b

{1, 2, 3, 4}

In [46]:
c = tuple([2, 3, 4, 5, 8, 9, 9])
c

(2, 3, 4, 5, 8, 9, 9)

In [71]:
d = list([1, 2, 3])
d

[1, 2, 3]

In [72]:
c = set()
c.add(3)
c

{3}

In [73]:
c.update([1, 2, 3, 'vamshi'])
c

{1, 2, 3, 'vamshi'}

In [74]:
c.update([4])
c

{1, 2, 3, 4, 'vamshi'}

In [75]:
c.discard(2)
c

{1, 3, 4, 'vamshi'}

In [76]:
c.remove(3) # return error if element not present
c

{1, 4, 'vamshi'}

In [77]:
c.pop() # removes the random element
c

{4, 'vamshi'}

In [78]:
a = {1, 2, 3, 4, 'hii', 5}
b = {4, 8, 9, 5, 'hello', 'hii'}
a|b #Union

{1, 2, 3, 4, 5, 8, 9, 'hello', 'hii'}

In [79]:
a.union(b)

{1, 2, 3, 4, 5, 8, 9, 'hello', 'hii'}

In [80]:
c = {3, 9, 'hii', 'man, 10'}
a|b|c

{1, 2, 3, 4, 5, 8, 9, 'hello', 'hii', 'man, 10'}

In [81]:
a&b # Intersection

{4, 5, 'hii'}

In [82]:
a.intersection(b)

{4, 5, 'hii'}

In [83]:
a&b&c

{'hii'}

In [84]:
a.intersection(b, c)

{'hii'}

In [85]:
a-b # Difference # All elements in a not in b

{1, 2, 3}

In [86]:
a.difference(b)

{1, 2, 3}

In [87]:
b-c

{4, 5, 8, 'hello'}

In [88]:
b.difference(c)

{4, 5, 8, 'hello'}

In [89]:
a-b-c

{1, 2}

In [90]:
a.difference(b, c)

{1, 2}

In [91]:
a = {2, 4, 9, 'abc'}
b = frozenset(a)
b

frozenset({2, 4, 9, 'abc'})

In [92]:
b.add(3)

AttributeError: 'frozenset' object has no attribute 'add'

In [93]:
li = [1, 2, 3, 4, 5]
k = 1
for i in range(k):
    x = li[len(li)-1]
    for i in range(len(li) -1, -1, -1):
        li[i] = li[i-1]
    li[0] = x
print(li)

[5, 1, 2, 3, 4]

In [94]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd = list(filter(lambda a: a%2 == 0, li))
odd

[2, 4, 6, 8, 10]

# Dictionary

In [95]:
 dic = {'name' : 'vamshi',
       'age' : 22,
       'Company' : 'TCS'}
print(dic)
print(dic['name'])

{'name': 'vamshi', 'age': 22, 'Company': 'TCS'}
vamshi

In [96]:
dic.keys()

dict_keys(['name', 'age', 'Company'])

In [97]:
dic.values()

dict_values(['vamshi', 22, 'TCS'])

In [98]:
dic['name'] = 'Krishna'
dic

{'name': 'Krishna', 'age': 22, 'Company': 'TCS'}

In [99]:
dic['Gender'] = 'Male'
dic

{'name': 'Krishna', 'age': 22, 'Company': 'TCS', 'Gender': 'Male'}

In [100]:
del dic['Company']
dic

{'name': 'Krishna', 'age': 22, 'Gender': 'Male'}

In [101]:
frozenset(dic)

frozenset({'Gender', 'age', 'name'})

# Sum of array

In [25]:
ab = [1, 2, 3, 4, 5, 6, 7]
total = 0
for i in ab:
    total += i
print(total)

28

# Iteration

In [21]:
x = [1, 2, 3, 4, 5, 1, 3, 6]

a = iter(x)
print(next(a))

print(tuple(x))

1
(1, 2, 3, 4, 5, 1, 3, 6)

In [12]:
print(next(a))
print(next(a))
print(next(a))
print(next(a))

2
3
4
5

In [18]:
# print(next(a))

# for i in x:
#     print(i)
i = 0
while i < len(x):
    print(x[i])
    i += 1

1
2
3
4
5

In [66]:
x = [1, 2, 3, 4, 5]
a = iter(x)
for i in x:
    print(next(a))

1
2
3
4
5

In [67]:
x = [i**2 for i in x]
x

[1, 4, 9, 16, 25]

In [68]:
g = iter(x)
print(next(g))

1

In [69]:
next(g)

4

In [108]:
print(g)

<list_iterator object at 0x000001F5E1B2F610>

In [109]:
dir(g)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__length_hint__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [58]:
def gen_number():
    x = [1, 2, 3, 4, 5]
    for i in x:
        yield i**2
x = gen_number()
next(x)
print(x)

<generator object gen_number at 0x0000022D205533C0>

In [111]:
next(x)

4

In [112]:
next(x)

9

In [113]:
iter1 = iter([1, 2, 3, 4, 5])
type(iter1)

list_iterator

In [114]:
iter1 = iter([1, 2, 3, 4, 5])
while True:
    try:
        print(next(iter1))
    except StopIteration:
        break

1
2
3
4
5

In [115]:
def generator():
    yield 1
    yield 2
    yield 3
g = generator()
for i in g:
    print(i)

1
2
3

In [116]:
next(g)

StopIteration:

# OOPs

In [74]:
class Vamshi:
    def __init__(self, name, age):
        self.name = name
        self.age = age
class Krishna(Vamshi):
    def __init__(self, name, age, company):
        Vamshi.__init__(self, name, age)
        self.company = company
a = Krishna('vamshi', 22, 'TCS')


print(a.name)
print(a.age)
print(a.company)

vamshi
22
TCS

In [76]:
class Vamshi:
    def __init__(self, name, age, company):
        self.name = name
        self.age = age
        self.company = company
class Krishna:
    def __init__(self, li):
        self.li = li
        
    def output(self):
        li2 = []
        for i in self.li:
            li2.append(i)
        return li2
a = Vamshi('vamshi', 22, 'TCS')
li = []
li.append(a)
b = Vamshi('RadheKrishna', 24, 'Ykuntam')
li.append(b)
# Sort function # Sort by name
li.sort(key = lambda a: a.name, reverse = False)
obj = Krishna(li)
o = obj.output()
for i in o:
    print(i.name)
for i in li:
    print(i.name)

RadheKrishna
vamshi
RadheKrishna
vamshi

# Exception Handling

In [119]:
x = frozenset([1, 2, 3, 4, 5])
try:
    x.add(3)
    print(x)
except NameError:
    print("Variable x is not defined")
except Exception as e:
    print("Something else went wrong", e)
finally:
    print("This code is over")

Something else went wrong 'frozenset' object has no attribute 'add'
This code is over

In [120]:
x = 10
if x < 11:
    raise Exception("x should not be less than 10")

Exception: x should not be less than 10

In [121]:
x = "Hello"
if not type(x) is int:
    raise Exception("x is not int")

Exception: x is not int

# String Formatting

In [122]:
print("Name is {name}".format(name = x))

Name is Hello

In [123]:
print("Name is {}".format(x))

Name is Hello

In [124]:
print(f"Name is {x}")

Name is Hello

In [125]:
x = 49
print("{:.2f}".format(x)) #decimals

49.00

In [126]:
round(5.5)

6

In [127]:
x = 10
y = 20
z = 49
print("I want {0} apples in {1} buckets for price {2:.3f}".format(x, y, z))

I want 10 apples in 20 buckets for price 49.000

In [128]:
name = 'Vamshi'
age = 22
print("My name is {1}. {1} is {0} years old".format(age, name))

My name is Vamshi. Vamshi is 22 years old

# Regular Expressions

In [79]:
import re

x = "My name is Vamshi krishna"
s = re.search("^My", x)
print(s)
if s:
    print("Yes it starts with M")
else:
    print("No it dosen't start with M")

<re.Match object; span=(0, 2), match='My'>
Yes it starts with M

In [80]:
f = re.findall("^My", x)
print(f)

['My']

In [81]:
# start with 'My' and ends with 'krishna'
se = re.search("^My.*krishna$", x)
print(se)
fe = re.findall("^My.*krishna$", x)
print(fe)

<re.Match object; span=(0, 25), match='My name is Vamshi krishna'>
['My name is Vamshi krishna']

In [82]:
txt = "Hello"
single = re.search("He..o", txt)
print(single)

<re.Match object; span=(0, 5), match='Hello'>

In [83]:
print(re.findall("[a-m]", txt)) # Find all letters from a to m

['e', 'l', 'l']

In [84]:
s = "This is 78 number 23"
print(re.findall("\d", s)) # pick all the numbers in text

['7', '8', '2', '3']

In [135]:
ev = eval("1+2+3")
ev

6

In [86]:
print(re.findall("This.?i", s)) # ? returns true if there is 0 or 1 charecter

['This i']

In [137]:
print(re.findall("Th.{5}", s))

['This is']

In [138]:
print(re.findall("is|z", s)) # is or z is present returns true

['is', 'is']

In [139]:
print(re.findall("23$", s))

['23']