In [1]:
print("Hello World")

Hello World

In [1]:
for i in range(10):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [10]:
def fib(f):
    if f == 1:
        return 1
    elif f == 0:
        return 0
    else:
        return fib(f-2) + fib(f-1)
print(fib(2))

1

In [25]:
li = [1, 2, 3, 4, 5, "a", 5, "b", "a"]

print(li.index("b"))
li.pop(7)
li

7

[1, 2, 3, 4, 5, 'a', 5, 'a']

In [10]:
for i in range(len(li)-1, -1, -1):
    print(li[i])
# print(len(li))

5
4
3
2
1

In [22]:
for i in li:
    print(i)

1
2
3
4
5
a
5
b
a

In [31]:
t = (1, 2, 3, 4, 5)
t[3] = 33
t

TypeError: 'tuple' object does not support item assignment

In [27]:
li = [1, 2, 3, 4, 5]
li[0] = 10
li

[10, 2, 3, 4, 5]

In [28]:
li[3] = 40
li

[10, 2, 3, 40, 5]

In [34]:
(a, b, c) =  (1, 2)
print(a, b)

ValueError: not enough values to unpack (expected 3, got 2)

In [35]:
s = {1, 2, 3, 4, 5, 5, 1}
print(s)

{1, 2, 3, 4, 5}

In [36]:
s[0]

TypeError: 'set' object is not subscriptable

In [41]:
d = {"name": "Boomika", 
    "phone_number": 9976160664, 
    "age": 17}
d["phone_number"] = 9486929186
d

{'name': 'Boomika', 'phone_number': 9486929186, 'age': 17}

In [42]:
d.keys()

dict_keys(['name', 'phone_number', 'age'])

In [43]:
d.values()

dict_values(['Boomika', 9486929186, 17])

In [46]:
a = 10
b = 20
print(a)

10

In [47]:
a = b
print(a)

20

In [48]:
a += b
print(a)

40

In [49]:
a -= b
a

20